html {
  height: 100%;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--mainFontColor);
  background-color: var(--bodyBgColor);
}

.container {
  max-width: 900px;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mtb1 {
  margin: 2rem 0;
}

.bold {
  font-weight: bold;
}

.subtitle {
  color: var(--mainFontColorLight);
  font-variant: small-caps;
}

.figure {
  width: 100%;
  max-width: 800px;
  margin: 1rem 0;
}

.figureFullWidth {
  max-width: unset;
}

.figureHighcharts {
  border-radius: var(--borderRadius);
  padding: 0.5rem;
  background-color: white;
}

.emph {
  font-weight: 600;
}

.red {
  font-weight: 600;
  color: var(--color1);
  font-size: 1.6rem;
}

.captionMain {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.captionSub {
  font-size: 0.85rem;
  text-align: center;
}

.twoChartsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.figureOneRow {
  width:45%;
  height: 400px;
}

div.example {
  /* margin-left: 2rem;
  padding-left: 2rem;
  border-left: 2px solid var(--color1); */
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 2rem;
}

p.example {
  font-style: italic;
}


div.example li {
  font-style: italic;
}

.exampleMain {
   /* background-color: var(--color1Light); */
  display: inline-block;
  /* font-style: italic; */
  font-weight: 800;
}

/* .exampleInner.practice {
  border-left: 1px solid var(--color2);
} */
/* 
.exampleMain.technology {
  color: var(--color3Dark);
} */

.navSocial a {
  text-decoration: none;
}


.exampleInner {
  /* border-left: 1px solid var(--color1); */
  padding-left: 2rem;
}

.bigEWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigE {
  width: 50px;
  height: 50px;
  background-color: var(--color1Light);
  border-radius: 50%;
  display: flex;
}

.practiceCircle {
  background-color: var(--color2Light);
}

/* .technologyCircle {
  background-color: var(--color3Light);
}  */

.bigE p {
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  transform: translateX(17px) translateY(-20px);
  font-weight: bolder;
}

.smallE {
  font-variant: small-caps;
}

.threeCol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.twoRow {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.cardWrap {
  padding: 2rem;
}

.cardPile {
  background-color: var(--color2Lighter);
  border-radius: var(--borderRadius);
  border: 1px solid var(--color2Light);
}

.excel {
  padding: 8px 12px 5px 12px;
  background-color: white;
  font-style: normal;
  border: 1px solid grey;
  border-radius:5px;
}


.gridTable {
  display: grid;
}

.gridTable1 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.gridTable2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.gridTable3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 300px;
  margin: 0 auto;
}

.gridTable4 {
  max-width: 500px;
  margin: 0 auto;
}

.gridTable5 {
  max-width: unset;
}

.gridTable6 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 600px;
  margin: 0 auto;
}

.gridTable7 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
 }

.gridTableCell {
  padding: 5px;
  align-self: center;
}

.gridTableHeader {
  font-weight: bold;
  border-bottom: 1px solid black;
  align-self: end;
  padding-bottom: 5px;
}

.tableCenter {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



mjx-container[jax="CHTML"][display="true"] {
  display: block !important;
  text-align: left !important;
  margin: 0 !important;
}

element.style {
  font-size: 16px !important;
}

.nextWrap {
  display: inline-flex;
  flex-direction: row;
  background-color: var(--color3);
  padding: 0.75rem 1.5rem;
  border-radius: var(--borderRadius);
  width: auto;
  align-items: center;
  border: 1px solid green;
  transition: background-color var(--ttime) ease-in-out;
  cursor: pointer;
  margin-top: 2rem;
}

.nextWrap:hover {
  background-color: var(--color3Hover);
  transition: background-color var(--ttime) ease-in-out;
}

.nextInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nextMain,
.nextWrap i {
  color: var(--whiteText);
}

.nextInner .nextSub {
  color: var(--whiteText);
}

.cta {
  text-decoration: none;
}

.ctaNext {
  float: right;
}

.ctaPrevious {
  float: left;
}

.ctaNext i {
  font-size: 50px;
  margin-left: 2rem;
}

.ctaPrevious i {
  font-size: 50px;
  margin-right: 2rem;
}

.download {
  text-decoration: none;
}

.downloadMain, .downloadSub, .download i, .download {
  color: var(--whiteText);
}

.downloadWrap {
  display: inline-flex;
  flex-direction: row;
  background-color: var(--color3);
  padding: 0.75rem 1.5rem;
  border-radius: var(--borderRadius);
  align-items: center;
  border: 1px solid green;
  transition: background-color var(--ttime) ease-in-out;
  cursor: pointer;
}

.downloadWrap:hover {
  background-color: var(--color3Hover);
  transition: background-color var(--ttime) ease-in-out;
}

.download:hover {
  background-color: var(--color3Hover);
  transition: background-color var(--ttime) ease-in-out;
}

.download i {
  font-size: 30px;
  margin-right: 1rem;
}


.subsection {
  margin-left: 3rem;
}

.flipCard {
  background-color: transparent;
  width: var(--flipWidth);
  height: var(--flipHeight);
  perspective: 1000px;
  cursor: pointer;
  border-radius: var(--borderRadius);
}

.twoRow .flipCard {
  width: 400px;
}


.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform var(--flipTime);
  transform-style: preserve-3d;
  background-color: var(--whiteBgColor);
  border-radius: var(--borderRadius);
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 2rem;
  box-sizing: border-box;
}

.flipCardFront p,
.flipCardBack p {
  text-align: left;
} 

.frontTitle {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--textBgTransparent);
  padding: 2rem 0;
}

.flipCardFront i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 100;
  display: block;
}

.flipCardFront img {
  width: 100%;
  height: 100%;
}

.flipCardBack {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color2Light);
  transform: rotateY(180deg);
  box-sizing: border-box;
  border: 1px solid var(--color2);
  border-radius: var(--borderRadius);
}

.flipCardFront {
  background-color: var(--color2Lighter);
  border-radius: var(--borderRadius);
  border: 1px solid var(--color2Light);
}

.flipCardBack p {
  text-align: left;
}

.twoCol {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 1rem;
  padding-left: 5rem;
}

  #cardSlots div,
  #cardPile div {
      width: 250px;
      height: 80px;
      padding: 1rem;
      border: 1px solid var(--color2Light);
      margin-bottom: 1rem;
      border-radius: var(--borderRadius);
  }

  #cardSlots div {
    background-color: white;
    border: 1px solid var(--color2Light);
    border: 1px dashed var(--color2Light);
  }

  #cardPile div {
    background: var(--color2Lighter);
    border: 1px solid var(--color2Light);
    /* cursor: move; */
  }

  #cardPile div p {
    margin-top: 0;
    
  } 

  #cardSlots div.hovered {
      background: var(--color2);
  }

 
  #cardPile div.ui-draggable-dragging {
      box-shadow: 0 0 .5em rgba(51, 51, 51, 0.8);
  }

  /* Individually coloured cards */

  #card0.correct {
    background: var(--color2);
  }

  #card1.correct {
      background: var(--color2);
  }

  #card2.correct {
    background: var(--color2);
  }

  .warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: pink;
  }

  .warning i {
    font-size: 70px;
    margin-right: 1.5rem;
    color: var(--warningColor);
  }

  .important {
    background-color: var(--color2Lighter);
  }

  .important i {
    font-size: 70px;
    margin-right: 1.5rem;
    color: var(--color2);
  }


  .wip {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color1);
    z-index: 1000;
  }

  .wipInner {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 5rem 5rem 5rem;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    height: 100%;
  }

  .wipInner * {
    color: white;
    text-align: center;
  }

  .wipInner i {
    font-size: 60px;
  }

  .wipInner h3 {
    margin-top: 0;
  }

  @media (min-width: 1400px) {
    .wip {
      display: none;
    }
  }