<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OER Stat website</title>
    <!-- <link
        href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;0,900;1,300&family=Overpass:wght@300;400;600&display=swap"
        rel="stylesheet"> -->

    <!-- <link rel="preload" as="font" type="font/truetype" href="{{ "fonts/poppins-v8-latin-600.woff2" | relURL }}"
        crossorigin> -->

    <link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/typography.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/root.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.13.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


</head>

<body>