<section id="Homepage">

    <div class="container">

        <h2 class="mt0 mb0 bold main">
            When will I ever use this? &#128515

        </h2>
        <p>
            Since you will undoubtedly be given statistical information at some point in your life, you need to know
            some techniques
            for analyzing the information thoughtfully. Think about buying a house &#127969 or managing a budget. Think
            about your chosen
            profession. The fields of economics, business, psychology, education, biology, computer science, and
            early childhood development require at least one course in statistics.
        </p>

        <h4 class="mb0">
            Let's get right into it!!!
        </h4>
        <h5 class=" mt0 subtitle">
            Definitions and terminology
        </h5>


        <p class="def">
            The science of <span class="emph">statistics</span> deals with the collection, analysis, interpretation, and
            presentation of <span class="emph">data</span>. We see and use data in
            our everyday lives.

        </p>

        <p class="def">
            In this course, you will learn how to <span class="emph">organize and summarize data</span>. Organizing and
            summarizing data is called <span class="emph">descriptive</span>
            statistics. Two ways to summarize data are by graphing and by using numbers (for example, finding an
            average).
        </p>

        <p class="def">
            After you have studied <span class="emph">probability and probability distributions</span>, you will use
            formal methods for drawing conclusions
            from "good" data. The formal methods are called <span class="emph">inferential statistics</span>.
            Statistical inference uses probability to
            determine how confident
            we can be that our conclusions are correct.
        </p>

        <a href="/sampling" targe="_self" class="cta ctaNext">
            <div class="nextWrap">
                <div class="nextInner">
                    <h3 class="nextMain mb0 mt0">Next</h3>
                    <h5 class="nextSub mb0 mt0 subtitle">Next topic: Sampling: Terminology</h5>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
        </a>

    </div>

</section>